<!-- favourites.html -->

{% extends 'header.html' %} 
{% block content %}
{% load i18n %}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>{% trans "Listado de" %} <strong>{% translate "FAVORITOS" %}</strong></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% translate "Imagen" %}</th>
                        <th>{% translate "Titulo" %} <i class="fa fa-sort"></i></th>
                        <th>{% translate "Descripción" %}</th>
                        <th>{% translate "Fecha" %} <i class="fa fa-sort"></i></th>
                        <th>{% translate "Comentario" %}</th>
                        <th>{% translate "Acciones" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favorito in favourite_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><img src="{{ favorito.image_url }}" alt="" style="max-width: 200px; max-height: 200px;"></td>
                        <td>{{ favorito.title }}</td>
                        <td>{{ favorito.description }}</td>
                        <td>{{ favorito.date }}</td>
                        
                        <td>
                            <form method="post" action="{% url 'guardar_comentario' %}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ favorito.id }}">
                                <textarea name="comment" rows="2" cols="20">{{ favorito.comment|default:"Actualmente sin comentarios" }}</textarea>
                                <button type="submit" class="btn btn-primary">{% trans "Guardar" %}</button>
                            </form>
                        </td>
                        <td>
                            <form id="deleteForm{{ favorito.id }}" method="post" action="{% url 'borrar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ favorito.id }}">
                                <button type="button" class="btn" style="color:red" onclick="showDeleteConfirmation('{{ favorito.title }}', '{{ favorito.id }}')"><i class="material-icons">&#xE872;</i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para mostrar mensaje de eliminación -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">{% translate "¡Imagen eliminada de favoritos!" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="deleteModalMessage"></p>
            </div>
        </div>
    </div>
</div>

<script>
    function showDeleteConfirmation(title, id) {
        // Setear el mensaje en el modal de confirmación de eliminación
        document.getElementById('deleteModalMessage').innerText = `${title} se ha eliminado de favoritos exitosamente.`;
        // Mostrar el modal de confirmación de eliminación
        var deleteConfirmationModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'), {
            keyboard: false
        });
        deleteConfirmationModal.show();
        
        // Enviar el formulario de eliminación al confirmar
        var deleteForm = document.getElementById(`deleteForm${id}`);
        deleteForm.submit();
    }
</script>

{% endblock %}