<!DOCTYPE html>
{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Mi primera aplicación con Django" %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="{% static 'img/tierra.jpg' %}" type="image/jpeg">
    <style>
        .navbar-nav .nav-link {
            color: white !important;
        }

        .navbar-nav .nav-link:hover {
            color: blue !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: black; color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://github.com/N4huel17/tp-final-ungs-ip" target="_blank">{% translate "Repositorio del Proyecto TP" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index-page' %}">{% translate "Inicio" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><strong>{% translate "Galería" %}</strong></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favoritos' %}">{% translate "Favoritos" %}</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <a class="nav-link" href="{% url 'exit' %}">{% translate "Salir" %}</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}">{% translate "Iniciar Sesion" %}</a>
                        {% endif %}
                    </li>
                    <!-- Enlaces para cambiar idioma -->
                    <li class="nav-item ms-auto">
                        <form action="{% url 'change_language' %}" method="get" class="nav-link">
                            <div class="dropdown">
                                <button class="btn btn-outline-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if LANGUAGE_CODE == 'en' %}
                                        English
                                    {% elif LANGUAGE_CODE == 'es' %}
                                        Español
                                    {% elif LANGUAGE_CODE == 'pt' %}
                                        Portugues
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                    <li><button class="dropdown-item" type="submit" name="language" value="en">{% translate "Inglés" %}</button></li>
                                    <li><button class="dropdown-item" type="submit" name="language" value="es">{% translate "Español" %}</button></li>
                                    <li><button class="dropdown-item" type="submit" name="language" value="pt">{% translate "Portugues" %}</button></li>
                                </ul>
                                <input type="hidden" name="next" value="{{ request.path }}">
                            </div>
                        </form>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
