{% extends 'header.html' %}
{% block content %}
{% load i18n %}

<main>
    <h1 class="text-center"style="color: #00006b; font-weight: bolder;"  >{% translate "Galería de Imágenes de la NASA" %}</h1>
    <div class="d-flex justify-content-center align-items-center mb-3">
        <!-- Formulario de búsqueda -->
        <form class="d-flex mr-3" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Buscar.." aria-label="Search">
            <button   class="btn btn-custom" type="submit">{% translate "Buscar" %}</button>
        </form>
    
        <!-- Espacio entre formularios -->
        <div style="width: 40px;"></div>
        <style>
            .btn-custom {
                color: #00006b;
                border-color: #00006b;
                transition: background-color 0.3s ease, color 0.3s ease;
            }
        
            .btn-custom:hover {
                background-color: #00006b;
                color: white;
            }
        </style>
    
        <!-- Selección de imágenes por página -->
        <form class="form-inline" style="display: flex;">
            <select class="form-control mr-sm-2" id="per_page" name="per_page">
                {% for option in per_page_options %}
                    <option value="{{ option }}" {% if option == per_page %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
            <button   class="btn btn-custom" type="submit">Ok</button>
        </form>
        
    </div>

    <style>
        .card {
            height: 100%; 
            transition: transform 0.2s ease;
        }
    
        .card:hover {
            transform: scale(1.05); 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            z-index: 1; 
        }
    
        .card-body {
            max-height: 200px; 
            overflow-y: auto; 
        }
    </style>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for imagen in page_obj %}
        <div class="col">
            <div class="card">
                <img src="{{ imagen.image_url }}" class="card-img-top" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title">{{ imagen.title }}</h5>
                    <p class="card-text">{{ imagen.description }}</p>
                </div>
                {% if request.user.is_authenticated %}
                <div class="card-footer text-center">
                    <form method="post" action="{% url 'agregar-favorito' %}">
                        {% csrf_token %}
                        <input type="hidden" name="title" value="{{ imagen.title }}">
                        <input type="hidden" name="description" value="{{ imagen.description }}">
                        <input type="hidden" name="image_url" value="{{ imagen.image_url }}">
                        <input type="hidden" name="date" value="{{ imagen.date }}">
        
                        {% if imagen in favourite_list %}
                        <button type="button" class="btn btn-primary btn-sm float-left" style="color:white" disabled>&#9989; {% translate "Añadida a favoritos" %}</button>
                        <button type="button" class="btn btn-primary btn-sm float-left" style="color:white" onclick="showComment('{{ imagen.title }}', '{{ imagen.comment|default:"Sin comentarios actualmente" }}')">&#128196; {% translate "Comentario" %}</button>
                        {% else %}
                        <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" onclick="showMessage('{{ imagen.title }}')">⭐{% translate "Añadir a favoritos" %} </button>
                        {% endif %}
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- Modal para mostrar mensaje de confirmación -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">{% translate "¡Imagen añadida a favoritos!" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal para mostrar comentario -->
    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">{% translate "Comentario de" %} <span id="modalTitle"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modalComment"></p>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function showMessage(title) {
         
            document.getElementById('modalMessage').innerText = `${title} se añadió a favoritos.`;

            var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'), {
                keyboard: false
            });
            confirmationModal.show();
        }
    
        function showComment(title, comment) {
            document.getElementById('modalTitle').innerText = title;
            document.getElementById('modalComment').innerText = comment;
            var commentModal = new bootstrap.Modal(document.getElementById('commentModal'), {
                keyboard: false
            });
            commentModal.show();
        }
    </script>
<!-- Paginación -->
<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>


<footer i class="footer bg-body-tertiary text-center text-lg-start ">
    <div class="container-fluid p-3" style="background-color: black; color: white;">
        <div class="d-flex justify-content-between">
            <strong class="text-center">{% translate "Introducción a la Programación | UNGS" %}</strong>
            <strong>{{ VERSION }}</strong>
        </div>
    </div>
</footer>
{% endblock %}