{% extends 'header.html' %}
{% load i18n %}
{% block content %}
<style>
    body, html {
        height: 100%;
    }

    .login-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        border: 1px solid #ccc;
        padding: 20px;
        max-width: 400px;
        text-align: center;
        transition: transform 0.2s ease;
    }

    .login-form:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px; 
    }
</style>

<div class="login-container">
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2 class="text-center">{% translate "Inicio de sesión" %}</h2>
            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control" placeholder={% translate "Usuario" %} required="required">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder={% translate "Contraseña" %} required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">{% translate "Ingresar" %}</button>
                <a class="nav-link" href="{% url 'register' %}">{% translate "¿No tienes cuenta? Regístrate!" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}