{% extends 'header.html' %}

{% block content %}
<style>
    body, html {
        height: 100%;
    }

    .register-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-form {
        border: 1px solid #ccc;
        padding: 20px;
        max-width: 600px;
        text-align: center;
        transition: transform 0.2s ease;
    }

    .register-form:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px; 
    }
</style>

<div class="register-container">
    <div class="register-form">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <h2 class="text-center">Registro de usuario</h2>
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}